{% extends 'base.html'%}
{% load static %}
{% block content %}
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'image/blogging.png' %}" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">work brings perseverance, perseverance gives you a future</span>
                                <span class="section-heading-lower">About this blog</span>
                            </h2>
                            <p>Este blog foi criado para fins acadêmicos, para a disciplina de Programação para Internet, 
                                ministrada pelo professor Jeferson Queiroga. Usei o bootstrap para a estilização do site.
                                Navegando no site você conhecerá um pouco sobre mim.
                                O site contém tanto informações profissionais quanto pessoais.
                                Thank you for your attention.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}